/* Style for the container div */
div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  /* Style for each image and label container */
  div > div {
    margin-bottom: 20px;
  }
  
  /* Style for the images */
  img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  
  /* Hover effect for the images */
  img:hover {
    transform: scale(1.05);
    border: 2px solid #007bff;
  }
  
  /* Style for the labels */
  label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
  }
  
  /* Style for the checkboxes */
  input[type="checkbox"] {
    margin-right: 5px;
  }
  
  /* Style for the price text */
  span {
    color: #007bff; /* Blue color for the price text */
  }
  
  /* Style for the total section */
  .total-section {
    margin-top: 40px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Style for the selected items list */
  ul {
    padding: 0;
    list-style: none;
  }
  
  /* Style for selected item in the total section */
  ul li {
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
  }
  
  /* Hover effect for selected item in the total section */
  ul li:hover {
    background-color: #f5f5f5;
  }
  
  /* Variation of work by @mrhyddenn for Radios */
  
  .check {
    cursor: pointer;
    position: relative;
    margin: auto;
    width: 18px;
    height: 18px;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
  }
  
  .check:before {
    content: "";
    position: absolute;
    top: -15px;
    left: -15px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: rgba(34, 50, 84, 0.03);
    opacity: 0;
    transition: opacity 0.2s ease;
  }
  
  .check svg {
    position: relative;
    z-index: 1;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #c8ccd4;
    stroke-width: 1.5;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
  }
  
  .check svg path {
    stroke-dasharray: 60;
    stroke-dashoffset: 0;
  }
  
  .check svg polyline {
    stroke-dasharray: 22;
    stroke-dashoffset: 66;
  }
  
  .check:hover:before {
    opacity: 1;
  }
  
  .check:hover svg {
    stroke: var(--accent-color, #a3e583);
  }
  
  #cbx2:checked + .check svg {
    stroke: var(--accent-color, #a3e583);
  }
  
  #cbx2:checked + .check svg path {
    stroke-dashoffset: 60;
    transition: all 0.3s linear;
  }
  
  #cbx2:checked + .check svg polyline {
    stroke-dashoffset: 42;
    transition: all 0.2s linear;
    transition-delay: 0.15s;
  }
  