.popup-menu {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(to bottom, #ffffff, #f5f5f5);
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 90%; /* Adjust as needed */
}

.popup-menu h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.menu-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.menu-item-image {
  display: block;
  max-width: 100px;
  max-height: 100px;
  width: auto;
  height: auto;
  margin-right: 16px;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.menu-item-details {
  flex: 1;
}

.menu-item-name {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 6px;
}

.menu-item-price {
  color: #888;
  font-size: 16px;
}

.popup-menu button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-top: 20px;
  width: 100%; /* Button width spans the popup */
}

.popup-menu button:hover {
  background-color: #0056b3;
}



.dropdown-container {
  margin-top: 10px;
}

.flavor-dropdown,
.weight-dropdown {
  padding: 5px;
  margin-top: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


/* Media query for small screens */
@media (max-width: 576px) {
  .popup-menu {
    /* Set popup to full width on small screens */
    width: 100%;
    max-width: none; /* Remove the maximum width constraint */
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
}

/* Media query for medium screens */
@media (min-width: 577px) and (max-width: 992px) {
  .popup-menu {
    /* Adjust popup width and positioning for medium screens */
    width: 80%;
    max-width: 400px; /* Set a maximum width if needed */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/* Media query for large screens */
@media (min-width: 993px) {
  .popup-menu {
    /* Adjust popup width and positioning for large screens */
    width: 60%;
    max-width: 600px; /* Set a maximum width if needed */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
